.copyright {
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  line-height: 30px;
  background: #ededed;
  padding: 20px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  font-family: "Open Sans", sans-serif;
}

.privacy-link {
  font-size: 12px;
  color: #333;
}
