<header class="header">
  <div class="content">

    <div class="header_content">
      <a routerLink="/" class="header_logotype">
        <img src="./assets/images/header/logotype.png" alt="chainwizard">
        <span>Airdrop Service</span>
      </a>



      <div class="language-select">
        <ul class="language-select-list">
          <li class="active">
            <img src="./assets/images/lng/en.svg"/>
            <span>en</span>
          </li>
        </ul>
      </div>

    </div>

  </div>
</header>

